// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant Home :

.app-header
  text-align center
  margin-top 40px
  margin-bottom 30px

.app-title
  font-size 2em
  font-weight 900
  color $orange-flame-pea

.app-tagline
  color $gray-gray
  margin-top 10px
